body {
    font-family: Arial, sans-serif;
    background-color: #8b2c6f;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }
  
  .form-container {
    background-color: #11c3c6e7;
    border-radius: 8px;
    height: 350px;
    width: 350px;
    padding: 20px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  }
  
  .form {
    max-width: 270px;
    margin: 0 auto;
  }
  
  .form h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #0056b3;
  }
  